$a-cor: #7B7A8A !default;
$h2-cor: #444 !default;

$bg-path: "../../img/fundo.png" !default;

$gre-body-bgcolor: #fff !default;
$gre-botao-tamanho: 100% !default;
$gre-botao-gutter: 5px !default;
$gre-botao-fonttamanho: 18px !default;
$gre-botao-fontcor: #fff !default;

$btn-primary-cor: #33B3E4 !default;
$btn-primary-borda: #33B3E4 !default;
$btn-primary-cor-hover: #006699 !default;
$btn-primary-borda-hover: #006699 !default;

$btn-default-cor: transparent !default;
$btn-default-borda: #006699 !default;
$btn-default-cor-hover: transparent !default;
$btn-default-borda-hover: #006699 !default;