<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<article>
				<h1 class="a-cor">COMO FUNCIONA</h1>
				<p class="texto">
					<h2>Primeiro acesso</h2>
					Qualquer pessoa pode se cadastrar no CLIENTEUP, pelo computador, tablete ou smartphone. O cadastro é simples e rápido, você cria um login e senha e logo no primeiro acesso poderá desfrutar do único sistema de relacionamento entre empresas e clientes.<br><br>

					Realizando o primeiro cadastro você responde a PesquisaUP. Esta é uma pesquisa de grande importância e fundamental, para que, as empresas possam melhorar suas ofertas aos clientes.<br><br>

					Para responder todas as questões você levará 1 minuto e depois, terá direito a cinco cupons de ofertas. Não é necessário imprimir gerando os cupons as empresas são comunicadas automaticamente e você receberá uma confirmação por SMS.<br><br>

					Não é necessário gerar os cupons de ofertas, logo após, a confirmação da PesquisaUP, o sistema armazenará sua pesquisa e deixará a disposição a quantidade de cupons que você tem direito, para usar no momento que achar mais adequado.

					<h2>Demais acessos</h2>
					Ao utilizar a oferta na empresa você recebe um código da venda, não jogue ele fora, guarde-o e insira no ClienteUP. Você insere o código da venda, responde o PósUP e ganha um crédito para gerar mais um cupom de oferta e além disso, acumula pontos para trocar por prêmios.<br><br>

					O PósUP são perguntas fundamentais para a melhoria da empresa, nas questões de atendimento, relacionamento e fidelização dos clientes. <br><br>
					Todos os cupons são armazenados em seu login e poderão ser gerados em qualquer momento que desejar ou quando encontrar a melhor oferta de qualquer empresa.
				</p>
			</article>
		</div>
	</div>
</div>