<div class="container" ng-controller="AutenticacaoClienteController">
	<table class="meus-pontos table table-responsive" ng-controller="MeusPontosController">
		<thead>
			<tr>
				<th>
					<div class="campo-pesquisa">
						<input type="search" name="teste" class="campo" placeholder="Pesquise seus cupons">
						<button class="btn btn-busca"><i class="fa fa-search"></i></button>
					</div>
				</th>
				<th>VALIDO ATÉ</th>
				<th>VALOR</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ponto in meusPontos">
				<td>
					<img src="{{ponto.imagem}}" width="50" height="50" class="img-cupons">
					<span class="titulo-cupons">{{ponto.titulo}}</span>
				</td>
				<td>{{ponto.data}}</td>
				<td>{{ponto.ponto}} pts</td>
			</tr>
			<tr ng-show="meusPontos.length < 1">
				<td colspan="3" class="sem-borda"><span class="sem-pontos">Não há pontos cadastrados</span></td>
			</tr>
		</tbody>
	</table>
	<div class="campo-pesquisa topo">
		<input type="search" name="buscaCupons" class="campo" ng-model="$root.buscaCupons" ng-model-options="{debounce: 700}" id="busca-cupom" placeholder="O que você está procurando?" autocomplete="off">
		<button class="btn btn-busca vermelho"><i class="fa fa-search"></i></button>
	</div>
</div>
<main class="container-fluid">
    <div class="lista-grupo" ng-controller="CuponsController">
        <div class="lista-empresa" ng-repeat="cupom in cupons | filter:$root.buscaCupons | limitTo:4 track by cupom.codigo">
            <figure>
                <img src="src/View/app/img/{{cupom.imagem}}" width="325" height="225" class="lista-imagem" alt="{{cupom.titulo}}">
                <figcaption><span class="lista-titulo">{{cupom.titulo}}</span></figcaption>
            </figure>
            <a class="redes-sociais facebook" href="#"></a> <a class="btn btn-primary">Pegar Cupom</a>
        </div>
    </div>
</main>