<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="a-cor">PÓSUP</h1>
			<form name="formularioCadastro" class="formulario-cadastro" method="POST">
				<div ng-show="formularioCadastro.nota.$error.required && formularioCadastro.nota.$dirty" class="alert alert-danger">
					Preencha o campo nota.
				</div>
				<div ng-show="(formularioCadastro.nota.$error.min || formularioCadastro.nota.$error.max) && formularioCadastro.nota.$dirty" class="alert alert-danger">
					O campo nota deve estar entre 0 a 10 e sem sinais e/ou símbolos.
				</div>
				<div ng-show="formularioCadastro.codigo.$dirty && formularioCadastro.codigo.$error.pattern" class="alert alert-danger">
					O código inserido está inválido.
				</div>
				<div class="form-group">
					<label class="a-cor">Código da venda</label>
					<input type="text" class="campo campo-codigo" name="codigo" ng-model="posVenda.codigo" ng-pattern="/^[A-Z]{3}\d{6}[A-Z]{2}\d{1,4}$/" ng-required="true">
				</div>
				<div class="form-group">
					<label class="a-cor">Você encontrou o produto na loja?</label>
					<div class="radio">
						<label class="radio-inline a-cor">
							<input type="radio" name="produtoLoja" ng-model="posVenda.produtoLoja" value="Sim" ng-required="true">
							Sim
						</label>
						<label class="radio-inline a-cor">
							<input type="radio" name="produtoLoja" ng-model="posVenda.produtoLoja" value="Não" ng-required="true">
							Não
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="a-cor">Avalie de 0 a 10 o atendimento.</label>
					<input type="number" class="campo campo-numerico" name="nota" ng-model="posVenda.nota" min="0" max="10" ng-required="true">
				</div>
				<div class="form-group">
					<label class="a-cor">O que lhe interessou para ir na loja?</label>
					<div class="checkbox">
						<label class="a-cor">
							<input type="checkbox" name="interesse" value="cliente">
							Já sou cliente
						</label>
					</div>
					<div class="checkbox">
						<label class="a-cor">
							<input type="checkbox" name="interesse" value="indicacao">
							Indicação
						</label>
					</div>
					<div class="checkbox">
						<label class="a-cor">
							<input type="checkbox" name="interesse" value="propaganda">
							Propaganda
						</label>
					</div>
					<div class="checkbox">
						<label class="a-cor">
							<input type="checkbox" name="interesse" value="preco">
							Preço
						</label>
					</div>
					<div class="checkbox">
						<label class="a-cor">
							<input type="checkbox" name="interesse" value="promocao">
							Promoção
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="a-cor">Você lembra o nome do vendedor?</label>
					<div class="radio">
						<label class="radio-inline a-cor">
							<input type="radio" name="nome_vendedor" ng-model="posVenda.nomeVendedor" value="Sim" ng-required="true">
							Sim
						</label>
						<label class="radio-inline a-cor">
							<input type="radio" name="nome_vendedor" ng-model="posVenda.nomeVendedor" value="Não" ng-required="true">
							Não
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="a-cor">O vendedor perguntou seu nome?</label>
					<div class="radio">
						<label class="radio-inline a-cor">
							<input type="radio" name="perguntou" ng-model="posVenda.perguntou" value="Sim" ng-required="true">
							Sim
						</label>
						<label class="radio-inline a-cor">
							<input type="radio" name="perguntou" ng-model="posVenda.perguntou" value="Não" ng-required="true">
							Não
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="a-cor">Você recomendaria esta loja?</label>
					<div class="radio">
						<label class="radio-inline a-cor">
							<input type="radio" name="recomendar" ng-model="posVenda.recomendar" value="true" ng-required="true">
							Sim
						</label>
						<label class="radio-inline a-cor">
							<input type="radio" name="recomendar" ng-model="posVenda.recomendar" value="false" ng-required="true">
							Não
						</label>
					</div>
				</div>
				<button class="btn btn-success" type="submit" ng-disabled="formularioCadastro.$invalid">Enviar</button>
			</form>
		</div>
	</div>
</div>