<section class="container">
	<div class="row">
		<div class="col-lg-12">
			<article>
				<h1 class="a-cor">SOBRE NÓS</h1>
				<p class="texto">
					O CLIENTEUP é um site e aplicativo que tem o objetivo de estreitar o relacionamento entre clientes e empresas com um sistema exclusivo de fidelização.<br><br>

					Neste site os clientes encontram ofertas e avaliam as empresas, elas por sua vez, recebem o feedback desta avaliação e utilizam para promover melhorias em seus processos de trabalho, com foco na fidelização de seus clientes.<br><br>

					Todas as empresas que ofertam produtos e serviços no CLIENTEUP passam por uma avaliação técnica de nossa equipe, para atender o nível de exigência que as qualificam para o atendimento e fidelização dos clientes.
				</p>
			</article>
		</div>
	</div>
</section>