	<main class="container-fluid">
		<div class="lista-grupo">
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto1.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto2.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto3.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto4.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto1.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto2.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto3.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
			<div class="lista-empresa">
				<figure>
					<img src="src/View/app/img/dist/foto4.jpg" width="325" height="225" class="lista-imagem">
					<figcaption class="lista-titulo">Lojas KD: promoções de até 70% OFF + cupom de desconto 5%</figcaption>
				</figure>
				<a class="redes-sociais facebook" href="#"></a>
				<a class="btn btn-primary">Pegar Cupom</a>
			</div>
		</div>
	</main>